.textcls, .headingcls{
    font-family: Inter, sans-serif;
}
.offspringcls{
	background: white;
	border-radius: 10px;
	border: 2px solid black;
}

.textcls{
	color: color(display-p3 0.1216 0.1608 0.2157);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.donorbasicsdescriptioncls{
	color: color(display-p3 0.2941 0.3333 0.3882) !important;
	font-weight: 400 !important;
}
.headingcls{
	color: color(display-p3 0.0667 0.0941 0.1529);
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: 600 !important;
	line-height: normal;
}
.inputsContainer{
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}

.parentInfoContainerCls{
	background: rgb(232, 227, 220);
	border-radius: 10px;
}

.childContainerCls{
	display: flex;
	gap: 1em;
	align-items: baseline;
}
.radiogroupCls{
	display: flex;
	flex-direction: row !important;
	gap: 1em;
}
.childContainerCls div{
	display: flex;
	flex-direction: column;
	gap: 0.1em;
	width: 50%;
}
.parentInfoCls span{
	width: 100%;
}
.parent2ContainerCls{
	display: flex;
	justify-content: space-between;
}
.conatinerCls{
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}
.buttonscls{
	display: flex;
	place-content: center;
	align-items: center;
	gap: 2em;
}
.backbtn{
	border: 1px solid black;
	background: white;
	color: black;
	text-align: center;
	border-radius: 5px;
	width: 18%;
	min-height: 3em;
	padding : 10px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nextbtncls{
	border: 1px solid black;
	background: black;
	color: white !important;
	text-align: center;
	border-radius: 5px;
	width: 18%;
	min-height: 3em;
	padding : 10px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* For mobile devices - stack the navigation */
@media (max-width: 768px) {
	.buttonscls{
		/* place-content: flex-start; */
		flex-direction: column;
		gap: 0.7em;
	}
	.backbtn, .nextbtncls{
		/* width: 50%; */
		width: 100%;
        min-height: 3em;
        font-size: large;
        font-weight: bold;
        /* padding-top: 2%; */
		box-shadow: none
	}

	.textcls{
        font-size: 12.1px;
		color: color(display-p3 0.2941 0.3333 0.3882);
        font-weight: 600;
    }

	.headingcls{
		font-size: 18.7px;
		font-weight: 600;
   }

   .radioinputchild{
		font-size: 12.1px;
		color: color(display-p3 0.2941 0.3333 0.3882) !important;
   }
   .descriptioncls{
		hyphens: auto !important;
        -webkit-hyphens: auto !important;
        -ms-hyphens: auto !important;
        word-break: break-word !important;
        overflow-wrap: break-word !important;
   }
}
/* media queries to target gap between side bar and its top*/
@media (min-width: 1400px) and (max-width: 1599px) { /* 90 */
	.textcls{
        font-size: 14.2px;
    }
	.headingcls{
		 font-size: 18.7px;
		 font-weight: 600;
	}
}

@media (min-width: 1251px) and (max-width: 1399px) {/* 100 */
	.textcls{
        font-size: 13.3px;
    }
	.headingcls{
		 font-size: 17px;
		 font-weight: 600;
	}
}

@media (min-width: 1101px) and (max-width: 1250px) {/* 110 */
	 .textcls{
        font-size: 12.8px;
    }
	.headingcls{
		 font-size: 15.9px;
		 font-weight: 600;
	}
}

@media (min-width: 769px) and (max-width: 1100px) { /* 125 && above*/
	.textcls{
        font-size: 11.4px;
    }
	.headingcls{
		  font-size: 15.8px;
		 font-weight: 600;
	}
}
@media (min-width: 1600px) {
    .textcls{
        font-size: 15.4px;
    }
	.headingcls{
		 font-size: 21.2px;
		 font-weight: 600;
	}
}
/* media queries to target gap between side bar and its top ends*/
/* for safari browser starts here*/
@supports (-webkit-touch-callout: none) {

	.donorbasicsdescriptioncls{
		font-size: 14px;
	}
}

/*new styles ended*/